@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.banner {
  width: 35%;
  height: 225px;
  background-size: cover;
}
body {
    background-color: #f5efd7;
    text-align: center;
}

#drink-image {
  height: 250px;
  box-shadow: 5px 5px black;
  border-radius: 25px;
}

#dinner-image {
  height: 250px;
  box-shadow: 5px 5px black;
  border-radius: 25px;

}

.button-primary {
  padding: 5px;
  background-color: #333333;
  border-radius: 5px;
  color: white;
  border-color: white;
  transition-duration: 0.4s;
  width: 350px;
}



.button-primary:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}

.button-primary {background-image: linear-gradient(to right, #333333 0%, #707066 51%, #333333 100%)}
.button-primary:hover { background-position: right center; }

ul {
  list-style-type: none;
}

h1 {
  font-size: 25px;
}

.description {
  margin: 10px auto;
  border-radius: 8px;
  max-width: 822px;
  padding: 0px 20px;
}
<<<<<<< HEAD
=======

.drink-section, .drink-section-button {
	display: none;
}
>>>>>>> 8c2752f55dddc9cd4bcb10636671bc0f94e7ff43
